:root {
  /* Colors */
  --primary: #F7FAFC;
  --secondary: #ffffff;
  --accent: #1e72e6;
  --accentDark: #cae0ff;
  --accentDarker: #a3c8fc;
  --black10: #5f5f5f;
  --black20: #2d2d2d;
  --black30: #050505;
  --bg2: #eaeaea;
  --grey: #dfdfdf;
  --grey10: #b8b8b8;
  --grey20: #ededed;

  /* Border */
  --radius10: 10px;
  --radius12: 12px;
  --radius16: 16px;
  --radius26: 26px;
  --radius20: 20px;
  --radius40: 40px;
  --radius100: 100px;

  /* Shadow */
  --normalShadow: 0px 6px 24px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: "Playfair Display", serif !important;
  color: var(--black30) !important;
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  color: var(--black30) !important;
  font-weight: 500 !important;
}

body {
  font-family: "Inter", sans-serif !important;
  color: var(--black20) !important;
  font-weight: 400 !important;
}

a {
  text-decoration: none;
  color: var(--black30) !important;
  font-weight: 700;
}

p {
  color: var(--black30);
}

hr {
  height: 0.5px;
  background-color: var(--grey);
}

span {
  font-weight: 700;
}

.container {
  width: 90% !important;
}

@media (min-width: 768px) {
  .container {
    width: 60% !important;
  }

  .profile {
    width: 25%;
    height: 25%;
  }

  #status {
    text-align: end;
  }

  #waktu {
    text-align: center;
  }

  #jenis {
    text-align: start;
  }
}

.sosmed:hover {
  background-color: var(--accentDark);
  border: 0.5px solid var(--accentDarker);
  border-radius: var(--radius20);
}

.navbar-brand {
  font-family: "Playfair Display", serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

.nav-link {
  font-family: "Playfair Display", serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: var(--accent) !important;
}

.navbar {
  background: linear-gradient(180deg, #fcfcfc 48.75%, rgba(252, 252, 252, 0) 100%) !important;
}

.greetings {
  font-weight: 500 !important;
}

.intro {
  font-size: 32px;
  color: var(--black20);
  font-weight: 400;
  line-height: 1.5;
}

.btn-primary {
  background-color: var(--accentDark) !important;
  color: var(--accent) !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  padding: 12px 70px !important;
  border-radius: var(--radius16) !important;
  border-style: 1px solid var(--accentDark) !important;
}

.btn-primary:hover {
  background-color: var(--accentDarker) !important;
}

.btn-outline-secondary {
  background-color: var(--secondary) !important;
  color: var(--accent) !important;
  border: 3px solid var(--accent) !important;
  border-radius: var(--radius20) !important;
  padding: 9px 20px !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.btn-outline-secondary:hover {
  background-color: var(--accentDark) !important;
}

.btn-outline-primary {
  background-color: var(--grey20) !important;
  color: var(--accent) !important;
  border: none !important;
  border-radius: var(--radius10) !important;
  padding: 9px 20px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.btn-outline-primary:hover {
  background-color: var(--accentDark) !important;
}

#experience {
  padding-top: 150px;
  padding-bottom: 100px;
}

#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}
.card {
  background-color: var(--grey20) !important;
  border-radius: var(--radius12) !important;
  border: none !important;
  padding: 14px !important;
}

.card:hover {
  background-color: #f1f1f1 !important;
}

.tertiary {
  font-weight: 700;
  font-size: 22px;
  background-color: var(--secondary);
  padding: 10px 10px;
  border-radius: var(--radius20);
  color: var(--accent);
}

.tertiary:hover {
  background-color: #58c1e186;
}

.jobdesc {
  padding-bottom: 12px;
  border-bottom: 0.5px solid var(--grey);
}

.card-title {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.card-text {
  font-size: 24px !important;
  font-weight: 700 !important;
  color: var(--black20) !important;
}

.period {
  font-size: 16px;
  font-weight: 400;
  color: var(--black10);
}

.footer-name {
  font-weight: 700;
  font-size: 32px;
  color: var(--black20);
}

#copyright {
  font-weight: 200;
  font-size: 22px;
  color: var(--black20);
}

.title {
  font-weight: 600 !important;
}

.details {
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--black10) !important;
}

#status,
#waktu,
#jenis {
  text-align: center;
}

.desc {
  font-weight: 400 !important;
  color: var(--black20) !important;
}

.header-ac {
  font-weight: 700 !important;
  color: var(--black20) !important;
  font-size: 22px !important;
}

.accordion-body {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--black20) !important;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.sosmed {
  background-color: var(--secondary);
  border: 0.5px solid var(--grey);
  border-radius: var(--radius20);
  padding: 20px 20px !important;
}

#col-sosmed-work {
  text-align: right;
}

#col-sosmed-casual {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .sosmed {
    padding: 20px 20px !important;
  }
  #col-sosmed-work,
  #col-sosmed-casual {
    text-align: center !important;
  }

  .btn-primary {
    padding: 12px 14px !important;
    width: 100%;
  }

  .profile {
    width: 60%;
    height: 60%;
  }

  .signature {
    height: 60% !important;
    width: auto;
  }
}

.banner {
  border: 0.5px solid var(--grey);
  border-radius: var(--radius40);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--accent) !important;
  border-radius: 8px !important;
  padding: 40px 10px !important;
}

.badge {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: var(--secondary) !important;
  background: var(--accent) !important;
}

.prototype-video {
  border-radius: var(--radius20);
}

.gambar-sample {
  border-radius: var(--radius20);
  border: solid 1px var(--grey);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: none;
  cursor: pointer;
}

.myImages {
  border-radius: 10px;
  border: 2px solid var(--black10);
}

.step {
  border-left: 2px solid var(--grey10);
}
